@use './base.scss';
@use './theme.scss';

:root {
  /** 标题栏高度 */
  --title-bar-height: 40px;
  --title-bar-bg: #ecedef;
  --container-bg: #fdfcfb;
}

@keyframes pageEntrance {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
